table { /*вызываем элемент с htm фаила и меняем его свойства */
    color: rgb(255, 115, 0);
    border-radius: 8px; /*скругление по краям рамки*/
    border: 2px solid red; /*делаем толщину рамки и азначаем цвет*/
}

[href="#index1"]{ /* можно взять любой атрибут и поменять его свойства*/
  color: rgb(226, 43, 89); 
}

.privet{
    color: blueviolet; /*Меняем цвет у <h1 class="privet"> */
}

/*Ниже создадим стили для таблиц. Важно в начале не забывать ставить точку*/

.table-blue{ /* Меняем цвет у класса*/
    color: blue;
}

.table-red{
    color: red;
}

.table-bold{ /*Делаем жирный текст*/
    font-weight: bold;
}
/* закончали менять свойства таблицы*/

.list > li{ /* меняем стиль <ul> отдельного от всех остальных. Знаком больше говорим что нужны дети первого уровня*/
    color: blue;
}
